    body{ 
        min-height: 900px;
        background: linear-gradient(180deg, #89A3FF 4.69%, #FFC9C9 31.25%, #FAE082 61.98%, #DFFFAA 100%) no-repeat;
    } 

    #parent {
        width:100% ;
        height :100% ;
        align-items: center;
        align-content: center; 
        display: flex;
        flex-direction: column;
    }

    .innerParent {
        width:60% ;
        display: flex;
        flex-direction: row;
        margin-bottom: 1%;
    }

    #divButtons{
        justify-items: space-around;
        justify-content: space-around;
    }

    #divDisplay{
        justify-items: center;
        justify-content: center; 
    }

    .buttons {
        background-color: #ffffff;
        border-radius: 10px;
        width : fit-content ;
        font-family: 'Advent pro',sans-serif;
        font-weight: 100;
        color:#000000;
        font-size: 1em ;
        text-align: center;
        padding: 1%;
        margin: 1%;
    }
   
    #blague{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        padding: 1%;
        object-fit: contain;
    }

    #meme {
        max-width: 300px;  
        object-fit: contain;
    }

    h1{
        font-family:'Advent pro',sans-serif;
        color:#ffffff; 
        font-weight: bold;
        font-size: 3em;
        text-align: center;
        margin-top: 5%;
    }

    h2{
        font-family: 'Advent pro',sans-serif;
        font-weight: 200;
        color:#000000;
        font-size: 2em ;
        text-align: center; 
    }    

    p{
        font-family: 'Advent pro',sans-serif;
        font-style: italic;
        font-weight: 100;
        color:#000000;
        font-size: 1em ;
        text-align: center; 
    }

    .buttons:hover{
        font-weight : bold ;
        color : #89A3FF
    }