    h1{
        font-family:'Advent pro',sans-serif;
        color:#8800ff; 
        font-weight: bold;
        font-size: 3em;
        text-align: center;
        margin-top: 5%;
    }

    h2{
        font-family: 'Advent pro',sans-serif;
        font-weight: 200;
        color:#000000;
        font-size: 2em ;
        text-align: center; 
    }    

  /*   h3{
        font-family: 'Advent pro',sans-serif;
        font-weight: 200;
        color:#000000;
        font-size: 2em ;
        text-align: center; 
         opacity: 0%; 
    }   */

    p{
        font-family: 'Advent pro',sans-serif;
        font-style: italic;
        font-weight: 100;
        color:#000000;
        font-size: 1em ;
        text-align: center; 
    }

    #background{ 
        height: 100%;
        width: 100%;
        min-height: 968px;
        background-size: cover ;  
        background: linear-gradient(180deg, #89A3FF 4.69%, #FFC9C9 31.25%, #FAE082 61.98%, #DFFFAA 100%) no-repeat;
    } 

    #contenantButtons{
        width: 100%;
        display: flex ;
        justify-content: center;
        gap: 2%;
        margin-bottom: 5%;
    }
    .buttons {
        background-color: #ffffff;
        border-radius: 6px;
        width : fit-content ;
        font-family: 'Advent pro',sans-serif;
        font-weight: 100;
        color:#000000;
        font-size: 1em ;
        text-align: center;
        padding: 1%;
    }

    #mainDiv {
        display: flex;
        flex-direction: row-reverse;
        justify-content:center;
        margin-bottom: 5%;
    }

    #blague{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        padding: 1%;
    }

/*     .contenantLaBlague {
        margin-bottom: 1%;
        display: block;
        justify-self: center;
        align-self: center;
        width: fit-content;
        background-color: white;
        border-radius: 6px;
        padding: 1%;
    }   */

    #meme {
        max-width: 300px;  
        object-fit: contain;
    }
/* 
    h3:hover{
        opacity: 100%;} */
