body{
    background-color: #240068;
    padding:0;
    margin:0;
  }
  .container{
    height: 100%;
    width: 100%;
    min-height: 968px;
    min-width: 1024px;
/*     position: absolute; */
    object-fit: cover;
  } 
  .snowfall{
    background-image: url("neige.png");
    min-height: 968px;
     background-size: 700px 400px; 
   /*  background-repeat: repeat;
    height: auto;
    width: max-content ;*/
    animation:snowfall 5s linear forwards infinite; 
    -webkit-animation:snowfall 5s linear forwards infinite;  
  }

   @keyframes snowfall{
    0%{
      background-position: 0 0;
    }
    20%{
      background-position: 20px 20px;
    }
    40%{
      background-position: 40px 40px;
    }
    60%{
      background-position: 60px 60px;
    }
    80%{
      background-position: 80px 80px;
    }
    100%{
      background-position: 100px 100px;
    }
  }
  @-webkit-keyframes snowfall{
    0%{
      background-position: 0 0;
    }
    20%{
      background-position: 20px 20px;
    }
    40%{
      background-position: 40px 40px;
    }
    60%{
      background-position: 60px 60px;
    }
    80%{
      background-position: 80px 80px;
    }
    100%{
      background-position: 100px 100px;
    }
  }

 

/* 
  
    #parent {
        width:100% ;
        height :100% ;
        align-items: center;
        align-content: center; 
        display: flex;
        flex-direction: column;
    }

    .innerParent {
        width:60% ;
        display: flex;
        flex-direction: row;
        margin-bottom: 1%;
    }

    .innerParentColumn {
        width:60% ;
        background-color: #ffffff;
        padding-left: 5% ;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    #titleArticle {
        font-weight: bold; 
        font-family: 'Advent pro',sans-serif;
        font-size: 1em ;
        text-align: center;   
    }

    #imagesNews {
    padding-right: 20px ;
    }

    #descriptionArticle {
        font-weight: 200;
        font-family: 'Advent pro',sans-serif;
        font-size: 1em ; 
        text-align: left;
        color: #000000;
    }

    #divButtons{
        justify-items: space-around;
        justify-content: space-around;
        align-items: center;
    }

    #divDisplay{
        justify-items: center;
        justify-content: center; 
    }

    .buttons {
        background-color: #ffffff;
        border-radius: 10px;
        width : fit-content ;
        font-family: 'Advent pro',sans-serif;
        font-weight: 100;
        color:#000000;
        font-size: 1em ;
        text-align: center;
        padding: 1%;
        margin: 1%;
    }
   
    #blague{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        padding: 1%;
        object-fit: contain;
    }

    #meme {
        max-width: 300px;  
        object-fit: contain;
    }

    h1{
        font-family:'Advent pro',sans-serif;
        color:#ffffff; 
        font-weight: bold;
        font-size: 3em;
        text-align: center;
        margin-top: 5%;
    }

    h2{
        font-family: 'Advent pro',sans-serif;
        font-weight: 200;
        color:#000000;
        font-size: 2em ;
        text-align: center; 
    }    

    p{
        font-family: 'Advent pro',sans-serif;
        font-weight: 100;
        color:#000000;
        font-size: 1em ;
        text-align: center; 
    }

    .buttons:hover{
        font-weight : bold ;
        color : #89A3FF;
        cursor: pointer;
    }

    #titleArticle:hover{
        font-weight : thin;
        color : #89A3FF;
        cursor: pointer;
        
    }


 */